body {
  background: url('../images/main.gif') no-repeat center center;
  background-size: cover;  
}

.container {
  width: 100vw;
  height: 100vh;
}

/*
 * TITLE CARD
 */

.centered {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

.capcom-logo {
  width: 80%;
}

.powered-by-svg {
  width: 50%;
}

.jquery-logo {
  height: 60%;
}

.sf-logo {
  width: 100%;
  max-height: 100%;
  -webkit-transition: -webkit-transform 0.6s;
  transition: transform 0.6s;
}

.anim-logo {
  -webkit-transform: translateX(35%) translateY(-35%) scale(0.3);
  transform: translateX(35%) translateY(-35%) scale(0.3);
}

/*
 * INITIAL STATE
 */

.ryu {
  position: absolute;
  top: 0;
  left: 10px;
  bottom: 0;
  margin: auto;
  height: 100%;
  max-height: 600px;
  max-width: 100%;
}

#ryu-kick {
  left: -80px;
  max-height: 620px;
}

.hadouken {
  position: absolute;
  top: 0;
  left: 600px;
  bottom: 63px;
  margin: auto;
  max-height: 20%;
}

.copy {
  position: absolute;
  right: 0;
  bottom: 0;
  max-width: 50%;
}

.directions {
  position: absolute;
  right: 8%;
  bottom: 20%;
  max-width: 50%;
}

.init-hide {
  display: none; /* initially hidden */
}

